@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    /*-background: radial-gradient(circle, rgba(209, 44, 110, .8) 0%, #000000 100%);*/
    position: relative;
    color: #d12c6e;
    height: 100%;
  
    
}

/* === HEADER === */
.header {
    position: fixed;
    width: 100%;
    /* Garante que o z-index funcione */
    z-index: 1000;
    color: rgb(209, 44, 110);
    
    
}
h1{
    color: #212529;
}
.header a{
    color: #d12c6e;
}
.header img{
    height: 3em;
}

/* === NAVBAR === */

/* === CAROUSEL CONTROLS === */
.carousel-control-prev-icon,
.carousel-control-next-icon,
.navbar-toggler-icon {
    filter: invert(1);
    /* Inverte as cores dos ícones */
}






.carousel-item img{
    height: 18em;
    object-fit: cover;
    width: 18em;
    
}

.btn-success:hover{
    background-color: #d12c6e;
    outline: none;
    border: none;
}
.card-black{
    background-color: #000000;
}
.rosa{
    border: 1px solid rgb(201, 201, 201);
    border-radius: 1em;
    color: #212529;
    
    font-size: large;
}
.preto{
    
    border-radius: 1em;
    font-size: large;   
}
.salao{
    min-height: 100vh;
    background-color: #221e20c4;
    position: relative;
    min-width: 100%;
}
.salao::before{
    content:'';
    background: url('/salao-unha.jpg');
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-size: cover;
    min-height: 100%;
    opacity: 1;
    position: absolute;
    border-radius: 5px;
}
.fade-in {
  opacity: 0;
  transform: translateX(-800px);
  animation: fadeInUp 2s ease-out forwards;
}
.redes{
    height: 15em;
}
.diva img{
   
    border-left: 4px solid #d12c6e;
    border-right: 4px solid #d12c6e;
   
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
   

    
}
.diva{
     margin-top: 1em;
}

.exp{
    height: 20em;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:500px) {
    html,body{
        overflow-x: hidden;
        max-width: 100%;
    }
    .salao{
    min-height: 50vh;
    
    position: relative;
    min-width: 100%;
}
}

